* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
  }

  .clear {
    clear: left;
  }
  
  .container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
  }

/* Awal Header Aditya*/
  header {
  height: 75px;
  width: 100%;
  background-color: rgba(22, 25, 26, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  width: 180px;
  margin-top: -50px;
  transition: all 0.5s;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  text-decoration: none;
  line-height: 75px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.7s;
}

.header-right a:hover {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: skyblue;
}

/* Smartphone Swap Menu Icon */
.menu-icon {
  font-size: 17px;
  color: black;
  float: right;
  padding: 10px;
  display: none;
  border: 1px solid white;
  border-radius: 14px;
  margin-top: 16px;
  background-color: rgba(0, 139, 139, 1);
  transition: all 0.5s;
}

.menu-icon:hover {
  background-color: rgba(0, 139, 139, 0.7);
  color: rgb(231, 223, 223);
  cursor: pointer;
}
/* Smartphone Swap Menu Icon */
/* Akhir Header Aditya */

/* Awal Top Wrapper */
  .top-wrapper {
    padding: 150px 0;
    background-color: darkcyan;
    background-size: cover;
    color: white;
    text-align: center;
  }

  .top-wrapper h1 {
      font-family: 'Roboto Slab';
      font-size: 60px;
      letter-spacing: 7px;
  }

  .top-wrapper h2 {
      font-family: serif;
      font-size: 25px;
      margin-bottom: -10px;
  }
  
  .top-wrapper h3 {
    font-family: serif;
    font-size: 20px;
    margin-bottom: 2px;
  }


  .top-wrapper img {
      height: 170px;
      width: 400px;
  }
/* Akhir Top Wrapper */

/*Awal Portofolio*/
  .header-title{
    font-family: "Lato";
    font-size: 50px;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 50px;
  }
			
  .portofolio h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 70px;
  }

  .portofolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  
  .portofolio-item {
    width: 33%;
    padding: 0 20px;
    margin-bottom: 35px;
  }
  
  .portfolio-select{
    position: relative;
    height: 100%;
  }

  .portofolio-item-hover{
    position: absolute;
    background-color:rgba(26, 188, 156, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .portofolio-item-hover p {
    max-width: 100%;
    color: white;
    font-size: 35px;
  }

  .portofolio-icon{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .portofolio-item:hover .portfolio-select .portofolio-item-hover {
    opacity: 1;
  }
/* Akhir Portofolio */

/*Awal About Wrapper*/
.about-wrapper {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: rgb(229, 208, 190);
  text-align: center;
}

.heading {
  color: #3b3a3b;
}

.heading h1 {
  font-family: 'Roboto Slab';
  font-size: 70px;
  letter-spacing: 7px;
  margin-bottom: 5px;
  margin-top: 45px;
}

.mid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.desc {
  flex: auto;
  width: 50%;
  padding-bottom: 30px;
}

.desc-icon .img1 {
  height: 130px;
  width: 280px;
}

.desc-icon .img2 {
  height: 130px;
  width: 155px;
}

.txt-contents {
  letter-spacing: 1px;
  line-height: 25px;
  margin: 0 30px;
  margin-top: 20px;
  font-size: 15px;
  color: #7d7a7e;
}

.divider-custom {
  /* margin: 1.25rem 0 1.5rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #7d7a7e;
  border-radius: 1rem;
  border-color: #7d7a7e;
}

.divider-custom .divider-custom-icon {
  color: #535253;
  font-size: 2rem;
  margin: 10px 10px;
}
/*Akhir About Wrapper*/

/* Awal Contact Wrapper */
.contact-wrapper {
  background-color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.heading h1 {
  font-family: 'Roboto Slab';
  font-size: 70px;
  letter-spacing: 7px;
  margin-bottom: 5px;
  margin-top: 45px;
}

/* Akhir Contact Wrapper */

/* Awal Footer Aditya */
footer {
  border-top: 1px solid wheat;
  border-bottom: 2px solid wheat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(22, 25, 26, 0.88);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  color: azure;
  text-align: center;
}

.flex div {
  flex: auto;
  width: 33%;
}

.span-heading {
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 13px;
  transition: all 0.5s;
}

.span-heading:hover {
  color: darkcyan;
}

.flex p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: -12px;
  font-family: 'lato -apple-system';
  transition: all 0.5s;
}

.footer-right a {
  text-decoration: none;
  color: #1abc9c;
}

/* Akhir Footer Aditya */

/* Awal Copyright Aditya */
.copyright {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  padding: 15px 10px;
}

small {
  font-size: 80%;
}

/* Akhir Copright Aditya */

/* Awal Social Button */

.mids {
  display: flex;
  margin: 20px auto;
  min-width: 250px;
}

.mids a {
  border: 2px solid white;
  border-radius: 100%;
  margin: 5px auto;
  max-height: 60px;
  max-width: 50px;
  height: 60px;
  width: 50px;
  line-height: 60px;
  font-size: 25px;
  color: white;
  transition: all 0.5s;
}

.mids a:hover {
  background-color: white;
  color: rgb(50, 52, 53);
  border: 2px solid black;
}

/* Akhir Social Button */

/* Awal Form Wrapper */
.form-wrapper {
  margin-top: 100px;
}

.contact-item {
  display: flex;
}

input {
  width: 80%;
  font-size: 26px;
  color: rgba(50, 52, 53, 0.8);
  font-family: Helvetica, sans-serif;
  padding-bottom: 20px;
  border: none;
  outline: none;
}

textarea {
  max-width: 80%;
  max-height: 100px;
  min-height: 100px;
  min-width: 80%;
  width: 80%;
  color: rgba(50, 52, 53, 0.8);
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  border: none;
  outline: none;
}

hr {
  width: 80%;
  border: 1px solid rgba(50, 52, 53, 0.5);
}

.btn-sub {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 80px;
  background-color: rgba(14, 112, 112, 0.8);
  padding: 15px 40px;
  color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 7px rgb(14, 112, 112);
}

.btn-sub:hover {
  opacity: 0.75;
  color: black;
  transition: ease-out 0.5s;
}

.btn-sub:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Awal Form Wrapper */
